@{
    ViewData["Title"] = "Assign User Role";
}

<div class="row">
    <div class="col-6">
        <h2 class="text-secondary">指派使用者Role</h2>
    </div>
</div>    
<br />
<div>
    <table class="table table-striped border">
        <thead>
            <tr class="table-info">
                <th>使用者名稱</th>
                <th>Role名稱</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.UserRoles)
            {
                <tr>
                    <td>@item.UserName</td>
                    <td>@item.RoleName</td>
                    <td></td>
                    @*<td style="width: 150px">
                        <div class="btn-group">
                            <a asp-action="DeleteUserRole" asp-route-id="@item.UserId" class="btn btn-danger"><i class="bi bi-trash-fill"></i></a>
                        </div>
                    </td>*@
                </tr>
            }
        </tbody>
    </table>
</div>
