@model OnlineDrinkShop.Models.Product
@using OnlineDrinkShop.Utility
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = Model.ProductName;
}
@{
    List<Cart> objs = HttpContextAccessor.HttpContext.Session.Get<List<Cart>>("cart") ?? new List<Cart>();
}
<h2 class="text-secondary">選購產品</h2>
<form asp-action="" enctype="multipart/form-data" method="post">
    <div class="p-4 rounded border border-dark row">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

        <div class="col-md-12 col-lg-8">
            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>品項:</label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id"/>
                    <input asp-for="ProductName" readonly="readonly" class="form-control"/>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>大小:</label>
                </div>
                <div class="col-8">
                    <select name="select_size"  class="form-select form-control" required>
                        <option value="" selected disabled hidden>請選擇大小</option>
                        <option value="大">大:$@Model.BigPrice</option>
                        <option value="小">小:$@Model.SmallPrice</option>
                    </select>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>冰度:</label>
                </div>
                <div class="col-8">
                    @if(Model.IceLevelIsAvailable)
                    {
                        <select name="select_iceLevel"  class="form-select form-control" required>
                            <option value="" selected disabled hidden>請選擇冰度</option>
                            <option value="去冰">去冰</option>
                            <option value="微冰">微冰</option>
                            <option value="少冰">少冰</option>
                            <option value="正常冰">正常冰</option>
                            <option value="常溫">常溫</option>
                        </select>
                    }
                    else
                    {
                        <select name="select_iceLevel"  class="form-select form-control" required>
                            <option value="冰度不可調" selected>冰度不可調</option>
                        </select>
                    }
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>糖度:</label>
                </div>
                <div class="col-8">
                    @if (Model.SugarLevelIsAvailable)
                    {
                        <select name="select_sugarLevel"  class="form-select form-control" required>
                            <option value="" selected disabled hidden>請選擇糖度</option>
                            <option value="無糖">無糖</option>
                            <option value="微糖">微糖</option>
                            <option value="半糖">半糖</option>
                            <option value="少糖">少糖</option>
                            <option value="正常甜">正常甜</option>
                        </select>
                    }
                    else
                    {
                        <select name="select_sugarLevel"  class="form-select form-control" required>
                            <option value="糖度不可調" selected>糖度不可調</option>
                        </select>
                    }
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>數量:</label>
                </div>
                <div class="col-8">
                    <input type="number" class="form-control" min="1" name="inputCount" id="inputCount" value="1" required/>
                </div>
            </div>

            <div class="form-group row mb-2">
                <div class="col-4">
                    <label>備註:</label>
                </div>
                <div class="col-8">
                    <input type="text" class="form-control" name="inputRemark" />
                </div>
            </div>

            <div class="form-group row">
                <div class="col-4">

                </div>
                <div class="col-8">
                    <input type="submit" asp-controller="Home" asp-action="AddItemToCart" asp-route-productName="@Model.ProductName" class="btn btn-info form-control" value="加入購物車" />
                </div>
            </div>

        </div>

        <div class="col-md-12 col-lg-1">
            <br />
        </div>

        <div class="col-md-12 col-lg-3">
            <div class="border border-dark" style="background-color:navajowhite">
                <img src="~/@Model.Image" width="100%" style="border-radius: 5px; border: 1px solid #efefef"/>
            </div>
            @if (Model.Remark != null)
            {
                <label class="text-danger">@Model.Remark</label>
            }
        </div>
        
    </div>
</form>

@section Scripts{ 
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
