@model OnlineDrinkShop.Models.Product
@{
    ViewData["Title"] = "Delete";
}

<h2 class="text-secondary">刪除產品</h2>
<form asp-action="Delete" enctype="multipart/form-data" method="post">
    <div class="p-4 rounded border border-dark row">
        <div asp-validation-summary="ModelOnly" class="text-danger"> </div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="ProductName">品名:</label>
                </div>
                <div class="col-8">
                    <input type="hidden" asp-for="Id"/>
                    <input asp-for="ProductName" class="form-control" readonly/>
                </div>
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="SmallPrice">小杯價格:</label>
                </div>
                <div class="col-8">
                    <input asp-for="SmallPrice" class="form-control" readonly/>
                </div>
                <span asp-validation-for="SmallPrice" class="text-danger"></span>
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="BigPrice">大杯價格:</label>
                </div>
                <div class="col-8">
                    <input asp-for="BigPrice" class="form-control" readonly/>
                </div>
                <span asp-validation-for="BigPrice" class="text-danger"></span>
            </div>

            @*<div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="Image"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Image" class="form-control" type="file" />
                </div>
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>*@

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="TagId">Tag:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Tag.Tag_Name" class="form-control" readonly/>
                </div>
                <span asp-validation-for="TagId" class="text-danger"></span>
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="Remark">備註:</label>
                </div>
                <div class="col-8">
                    <input asp-for="Remark" class="form-control" readonly/>
                </div>
                @*<span asp-validation-for="Remark" class="text-danger"></span>*@
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="SugarLevelIsAvailable">糖度是否可選?</label>
                </div>
                <div class="col-8">
                    <input asp-for="SugarLevelIsAvailable" class="" type="checkbox" disabled/>
                </div>
                <span asp-validation-for="SugarLevelIsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="IceLevelIsAvailable">冰度是否可選?</label>
                </div>
                <div class="col-8">
                    <input asp-for="IceLevelIsAvailable" class="" type="checkbox" disabled/>
                </div>
                <span asp-validation-for="IceLevelIsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group row mt-2">
                <div class="col-4">
                    <label asp-for="IsAvailable">是否上架?</label>
                </div>
                <div class="col-8">
                    <input asp-for="IsAvailable" class="" type="checkbox" disabled/>
                </div>
                <span asp-validation-for="IsAvailable" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-danger" id="DeleteButton" value="刪除"/>
                <a asp-controller="Product" asp-action="Index" class="btn btn-success">回到清單</a>
            </div>
        </div>

        <div class="col-1">

        </div>

        <div class="col-3">
            <div class="border border-dark">
                <img src="~/@Model.Image" width="100%" style="border-radius: 5px; border: 1px solid #efefef"/>
            </div>
        </div>
        
    </div>
</form>

@section Scripts{
<script type="text/javascript">
    $(document).ready(function(){
        $("#DeleteButton").click(function(){
            if (!confirm("確認要刪除嗎?")){
                return false;
            }
        });
    });
</script>
}
