@using static Microsoft.EntityFrameworkCore.DbLoggerCategory.Model
@model OnlineDrinkShop.Models.ApplicationUser
@{
    ViewData["Title"] = "新增帳號";
}
   
<br />

<h2 class="text-secondary">新增帳號</h2>
<form asp-action="Create" method="post" id="signupForm" enctype="multipart/form-data">
    <div class="p-4 rounded border border-dark">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <h3>@ViewBag.message</h3>

        <div class="form-group row">
            <div class="col-2">

            </div>
            <div class="col-8">
                <label asp-for="UserFullName">使用者全名(非必填):</label>
                <input asp-for="UserFullName" class="form-control"/>
            </div>
            <div class="col-2">

            </div>
            <span asp-validation-for="UserFullName" class="text-danger"></span>
        </div>

        <div class="form-group row mt-2">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <label asp-for="UserName">Email:</label>
                <input asp-for="UserName" id="UserName" class="form-control" type="email"/>
            </div>
            <div class="col-2">
                
            </div>
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>


        <div class="form-group row mt-2">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <label asp-for="PhoneNumber">手機號碼(非必填):</label>
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <div class="col-2">
                
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
     
        <div class="form-group row mt-2">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <label asp-for="PasswordHash">密碼:</label>
                <input asp-for="PasswordHash" id="PasswordHash" class="form-control" type="password" />
            </div>
            <div class="col-2">
                
            </div>
            <span asp-validation-for="PasswordHash" class="text-danger"></span>
        </div>

        <div class="form-group row mt-2">
            <div class="col-2">
                
            </div>
            <div class="col-8">
                <label for="ConfirmPassword">確認密碼:</label>
                <input id="ConfirmPassword" name="ConfirmPassword" class="form-control" type="password" />
            </div>
            <div class="col-2">
                
            </div>
        </div>

        <div class="form-group row mt-2">
            <div class="col-2">

            </div>
            <div class="col-8">
                <input type="submit" class="btn btn-primary" value="創建帳號"/>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</form>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    $(document).ready(function () { 
        $("#signupForm").validate({
            rules: {
                UserName: {
                    required: true,
                    email: true
                },
                PasswordHash : {
                    required: true,
                    minlength: 6
                },
                ConfirmPassword : {
                    required: true,
                    minlength: 6,
                    equalTo: "#PasswordHash"
                }   
            },
            messages: {
                UserName: "請輸入Email",
                PasswordHash: {
                    required: "請輸入密碼",
                    minlength: "密碼長度至少為6"
                },
                ConfirmPassword: {
                    required: "請輸入確認密碼",
                    minlength: "密碼長度至少為6",
                    equalTo: "密碼不一致!"
                }
            }   
        });
    });
</script>
}